@font-face {
  font-family: 'Gopher';
  src: url('../../../../public/fonts/Gopher-Regular.woff2') format('woff2'),
       url('../../../../public/fonts/Gopher-Regular.woff') format('woff'),
       url('../../../../public/fonts/Gopher-Regular.ttf') format('truetype');
  font-display: swap; 
}

@font-face {
  font-family: 'OakSans';
  src: url('../../../../public/fonts/OakSans-Regular.ttf') format('truetype');
  font-display: swap;
}

.hero {
  position: relative;
  display: flex;
  min-height: 40vh;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  background:#f0f0f0 url('../../../../public/images/join.svg') top/cover no-repeat;
  color: #fff;
  border-radius: 20px;
  align-items: stretch;
  font-family: 'OakSans', Georgia, 'Times New Roman', Times, serif;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75) 30%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: 0;
  border-radius: 20px;
}

.heroLeft {
  position: relative;
  flex: 1.2;
  display: flex;
  align-items: flex-end;
  padding: 64px;
  z-index: 1;
  bottom: 5%;
}

.heroContent h1 {
  font-size: clamp(32px, 4vw, 48px);
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 20px;
  font-family: 'Gopher', Georgia, 'Times New Roman', Times, serif;
}

.heroContent p {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 24px;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .hero {
    min-height: auto;
  }

  .heroLeft {
    padding: 40px;
    align-items: flex-end;
    min-height: 40vh;
  }

  .heroContent p{
    font-size: 12px;
  }
}

@media (max-width: 767px) {
    .hero{
        flex-direction: column;
    }
    .heroContent p{
      font-size: 12px;
    }
}

@media (max-width: 640px) {
  .hero {
    min-height: auto;
    border-radius: 20px;
  }

  .hero::before {
    border-radius: 20px;
  }

  .heroLeft {
    padding: 24px;
    min-height: 30vh;
    align-items: flex-end;
  }

  .heroContent h1 {
    font-size: 36px;
  }

  .heroContent p {
    font-size: 12px;
  }
}