* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
.hero-image {
  margin-left: 2%;
}

@media (max-width: 768px) {
  body{
    margin: 0;
  }
}